	<button type="button" class="btn" data-toggle="collapse" data-target="#buttons">
		<span class="fa fa-share"></span> Share
	</button>

	<div class="collapse sharebuttons" id="buttons">
		<br>
		  <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&title={{ page.title | default:"" | uri_escape }}" target="_blank">
			{% include social/facebook.svg %}
		  </a>
		  <a class="googleplus" href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&t={{ page.title | default:"" | uri_escape}}" target="_blank">
			{% include social/googleplus.svg %}
		  </a>
		  <a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&text={{ page.title | default:"" | uri_escape}}" target="_blank">
			{% include social/twitter.svg %}
		  </a>
		  <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&title={{ page.title | default:"" | uri_escape}}" target="_blank">
			{% include social/linkedin.svg %}
		  </a>
	</div>
	
	<br>