<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 
	<!-- Custom CSS Stylesheet-->
	<link href="/custom.css" type="text/css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
<div class="customHeader">
<h1>Calvin Z He</h1>
</div>
</div>

<nav class="navbar navbar-light">
<span class="border-0"></span>
<div class="container-fluid">

	<div class="navbar-header">
		<a class="navbar-brand" href="/index.html" style="color:rgb(200,50,50);">Home</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/physics_animations">
					Physics Animations<span class="caret"></span>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/physics_animations/index.html#projectile_motion">Projectile Motion</a>
					<a class="dropdown-item" href="/physics_animations/index.html#simple_harmonic_oscillator">Simple Harmonic Oscillator</a>
					<a class="dropdown-item" href="/physics_animations/index.html#monte_carlo_cyclotron">Monte Carlo Simulation of Cyclotron Motion in Plasma</a>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/blog">Blog</a>
			</li>
		</ul>

		
		<!--
		<form class="navbar-form navbar-left">
			<div class="form-group"><input type="text" class="form-control" placeholder="Search (Doesn't Work)">
			<button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
		</form>
		
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Contact</a></li>
		</ul>
		-->
	</div>

</div>
</nav>

<div class="container-fluid row">
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
		{{ content }}
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>

</body>

<footer class="container-fluid">
	<hr class="customHR">
	<center>&copy; Calvin Z He</center>
</footer>

</html>
